<div class="body">
    <h1>${title}</h1>
    <p>Category: ${restaurantData.category}</p>
    <p>Stars: ${restaurantData.stars}</p>
    <p>Distance: ${restaurantData.distance}</p>
    <p>Takeout: ${restaurantData.takeout === true ? 'Yes' : 'No'}</p>
    <br><br>

    <form action="/" method="POST">
        <h2>Write a review</h2>
        <label>Title
            <input type="text" name="title">
        </label><br>
        <label>Review
            <input type="text" name="review">
        </label><br>
        <label>Stars
            <select name="" id="">
                <option value="5">5 Stars</option>
                <option value="5">4 Stars</option>
                <option value="5">3 Stars</option>
                <option value="5">2 Stars</option>
                <option value="5">1 Stars</option>
                <option value="5">0 Stars</option>
            </select>
        </label>
        <button type="submit">Submit Review</button>
    </form>


    <!-- <h2>Reviews</h2>
    ${reviewData.map(review => {
    return `
    <div>
        <h3>${review.title}</h3>
        <p>${review.content}</p>
    </div>
    `
    }).join('')} -->

</div>