<div>
    <div class=restaurant-info>
        <h1>${title}</h1>
        <p>Category: ${restaurantData.category}</p>
        <p>Stars: ${restaurantData.stars}</p>
        <p>Distance: ${restaurantData.distance}</p>
        <p>Takeout: ${restaurantData.takeout === true ? 'Yes' : 'No'}</p>
    </div>


    <form action="/business" method="POST">
        <input type="hidden" name="restaurantId" value=${restaurantData.id}>
        <h2>Write a review</h2>
        <label>Title<br>
            <input type="text" name="title">
        </label><br>
        <label>Review
            <textarea type="text" name="review" rows="4">Tell us about your experience</textarea>
        </label><br>
        <label class="rating-label">Rating
            <select name="stars" id="stars">
                <option value="5">5 Stars</option>
                <option value="4">4 Stars</option>
                <option value="3">3 Stars</option>
                <option value="2">2 Stars</option>
                <option value="1">1 Stars</option>
                <option value="0">0 Stars</option>
            </select>
        </label>
        <button type="submit">Submit Review</button>
    </form>


    <h2>Reviews</h2>
    ${reviewData.map(review => {
    return `
    <div class="review-card">
        <h3>${review.title}</h3>
        <p class="review-rating">${review.stars}</p>
        <p>${review.content}</p>
    </div>
    `
    }).join('')}

</div>