<h1>${title}</h1>
<form action="/users/signup" method="POST">
    <label for="first_name">First Name
        <input type="text" name="first_name" placeholder="Enter First Name">
    </label>
    <label for="last_name">Last Name
        <input type="text" name="last_name" placeholder="Enter Last Name">
    </label>
    <label for="email">Email
        <input type="email" name="email" placeholder="Enter Email">
    </label>
    <label for="password">First Name
        <input type="password" name="password" placeholder="Enter Password">
    </label>
    <button type="submit">Submit</button>

</form>