<html>

<head>
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    ${!!is_logged_in ? `
    <a href="/users/logout">Logout</a>
    ` : `
    <a href="/users/login">Login</a>
    `
    }
    <a href="/">Home</a>
    ${partial}
</body>

</html>